.card{
  display: flex;
  background: linear-gradient(91deg, #336d7a 0%, #2a535c 100%);
  box-shadow: 14px 19px 34px 0px #004552;
  flex-direction: column;
  min-width: 500px;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: animateCardPost 2s ease 0s 1 normal forwards;
  
}

.card-header{
  display: flex;
  justify-content: space-between;
}

.card-header > .user {
  margin-left:30px;
  padding: 20px 0px;
}

.card-header > .card-title {
  margin-right:30px;
  padding: 20px 0px;
}

.card-body {
  padding: 10px 20px;
  text-align: justify;
  Word-wrap: break-Word;
}



@keyframes animateCardPost {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@media  (max-width: 968px){
  .card{
    display: flex;
    background: linear-gradient(91deg, #336d7a 0%, #2a535c 100%);
    box-shadow: 14px 19px 34px 0px #004552;
    flex-direction: column;
    min-width: 200px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: animateCardPost 2s ease 0s 1 normal forwards;
    
  }

}